* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  --border-color: rgb(209, 209, 209);
}

body {
  margin: 0;
}

h1,
p,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffeec8;
}

.main-vertical {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  min-height: 100vh;
  background-color: white;
}

#main-title {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-section {
  width: 50vw;
  padding-left: 50px;
  padding-right: 50px;
}

#content-lower {
  padding-bottom: 60px;
}

.tac {
  text-align: center;
}

.blog-intro {
}

.blog-intro > p {
  line-height: 27px;
}

.blog-category > p {
  line-height: 25px;
}

.blog-category {
  width: 100%;
}

.m10 {
  margin-bottom: 10px;
}

.m20 {
  margin-bottom: 20px;
}

.m30 {
  margin-bottom: 30px;
}

.intro-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-examples {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.example-margin {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

.example-margin > .margin-example-inner {
  color: white;
  width: 50px;
  height: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-1 > .margin-example-inner {
  margin: 0;
}

.margin-2 > .margin-example-inner {
  margin: 30px;
}

.margin-3 > .margin-example-inner {
  margin: 60px;
}

.example-border {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-1 {
  border: 5px groove black;
}

.border-2 {
  border: 5px dotted black;
}

.border-3 {
  border: 30px solid green;
}

.padding-1 {
  border: 3px solid black;
}

.padding-2 {
  border: 3px solid black;
  padding: 10px;
}

.padding-3 {
  border: 3px solid black;
  padding: 50px;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
}

/* tablets */
@media only screen and (max-width: 919px) {
  .main-section {
    width: 70vw;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* phones */
@media only screen and (max-width: 510px) {
  .main-section {
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.red-box {
  margin: 30px;
}
